/* Background color 1(Dark Purple): #1F1F3D
   Background color 2(Medium Purple): #A9AAD2
   Background color 3(Light Pruple): #EAEAF4
   Header Text: Open Sans, Bold
   Body and Label Text: Open Sans, Light */

* {
  font-family: 'Open Sans', sans-serif;
  /* border: 2px solid red; */
}

body, html {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  font-weight: bold;
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/* Left-container */

aside {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 25%;
  padding-left: 5%;
  flex-wrap: wrap-reverse;
}

h1 {
  color: #E9E9F3;
  font-size: 20px;
  padding-left: 0.75em;
}

h2 {
  color: #BFBFDD;
  font-size: 15px;
  padding-left: 0.75em;
}

.show-starred-btn {
  background-color: #5356A4;
  color: #E9E9F3;
  font-weight: bold;
  /* height: auto; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-right: .5em;
  padding-left: .5em;
  font-size: 20px;
  margin: 1em;
  border: none;

}

/* Right-container: with top and bottom */
main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
  /* font-weight: Light; */
}

/*  Top-container */
form {
  background-color: #A9AAD2;
  font-weight: lighter;
  font-size: .75em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 40%;
  width: 100%;
}

label {
  margin-left: 25%;
}

.title-box {
  display: flex;
  width: 50%;
  height: 40%;
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid #5356A4;
  /* how do we apply this border to all elements
  in form */

}

.body-box {
  width: 50%;
  height: 100%;
  margin-left: 25%;
  border: 1px solid #5356A4;
}

.save-btn {
  background: #1F1F3D;
  color: #EAEAF4;
  border-radius: .25em;
  font-size: 1em;
  height: 35px;
  border: 1px solid #5356A4;
  width: 50%;
  margin-left: 25%;

}

.search-icon {
  background: #1F1F3D;
  color: #EAEAF4;
  border-radius: .25em;
  font-size: 1em;
  height: auto;
  width: 35px;
}

.search-ideas-bar {
  display: flex;
  flex-direction: row;
  height: 2em;
  border: 1px solid #5356A4;
  width: 50%;
  margin-left: 25%;
}

/* Bottom-container */
section {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 40%;
  width: 100% */
}

input {
  width: 50%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap-reverse;

}
.star-delete {
  background-color: #1F1F3D;
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  /* align-items: stretch; */
  height: 2em;
}

/* h3, p, button {
  display: flex;
  justify-content: space-between;

} */
