/* Background color 1(Dark Purple): #1F1F3D
   Background color 2(Medium Purple): #A9AAD2
   Background color 3(Light Pruple): #EAEAF4
   Header Text: Open Sans, Bold
   Body and Label Text: Open Sans, Light */

* {
  font-family: 'Open Sans', sans-serif;
  border: 2px solid red;
}

body, html {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: row;
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 0;
  font-weight: Light;
  background-attachment: fixed;
}

aside {
  background-color: #1F1F3D;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  width: 25%;
  flex-wrap: wrap-reverse;
}

h1 {
  color: #E9E9F3;
  font-size: 15px;
  padding: 0.75em;
}

h2 {
  color: #BFBFDD;
  font-size: 15px;
  padding: 0.5em;
}

.show-starred-btn {
  background-color: #5356A4;
  color: #E9E9F3;
  font-weight: bold;
  height: 7vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-right: .5em;
  padding-left: .5em;
  font-size: 1.4375em;
  margin: 1em;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 75%;
  height: 100%;
}

form {
  background-color: #A9AAD2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  /* width: 100% */
}

.title-box {
  width: 100%;
  height:

}

.body-box {
  width: 100%;
  height: 40%;
}

.save-btn {
  background: #1F1F3D;
  color: #EAEAF4;
  padding: .5em;
  border-radius: .25em;
  font-size: 1em;
}

section {
  background-color: #EAEAF4;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  /* height: 40%;
  width: 100% */
}

input {
  width: 50%;
}

article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap-reverse;

}
.star-delete {
  display:flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
  align-items: stretch;
  background-color: #1F1F3D;
  width:
}
